<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fcloud.modules.demo.mapper.DemoMainMapper">

    <resultMap id="demo" type="com.fcloud.modules.demo.model.DemoMain">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <!-- CRUD内容 -->
    <insert id="insert" parameterType="com.fcloud.modules.demo.model.DemoMain">
        insert into demo_main (id, name)
          values (#{id}, #{name})
    </insert>

    <update id="update" parameterType="com.fcloud.modules.demo.model.DemoMain">
        update demo_main set name = #{name} where id = #{id}
    </update>

    <delete id="delete" parameterType="string">
        delete from demo_main where id = #{id}
    </delete>

    <select id="find" resultMap="demo" parameterType="string">
        select * from demo_main where id = #{id}
    </select>

    <!-- 扩展查询内容 -->
    <select id="findAll" resultMap="demo">
        select * from demo_main
    </select>

    <select id="findAllByPage" resultMap="demo">
        select * from demo_main
    </select>

</mapper>